<div class="nav-bar__wrapper">
  <div class="nav-bar">
    <a routerLink="/home" class="nav-bar__img-wrapper">
      <img src="assets/img/logo.png" alt="logo" class="nav-bar__img">
      <div class="logo-center__title nav-bar__title nav-bar__title_grey">MusicApp</div>
    </a>
    <div class="nav-bar__menu">
      <a routerLink="/home" class="nav-bar__element" routerLinkActive="nav-bar__element_active">
        <img src="assets/img/home.png" alt="menu" class="nav-bar__img">
        <div class="nav-bar__title">Home</div>
      </a>
      <a routerLink="/private" class="nav-bar__element" routerLinkActive="nav-bar__element_active">
        <img src="assets/img/private.png" alt="menu" class="nav-bar__img">
        <div class="nav-bar__title">Private</div>
      </a>
      <a routerLink="/public" class="nav-bar__element" routerLinkActive="nav-bar__element_active">
        <img src="assets/img/public.png" alt="menu" class="nav-bar__img">
        <div class="nav-bar__title">Public</div>
      </a>
    </div>
    <a routerLink="/profile" class="nav-bar__img-wrapper">
      <img src="assets/img/ava1.jpg" alt="ava" class="nav-bar__img  nav-bar__img_ava">
    </a>
  </div>
</div>
