<div class="login">
  <div class="login__column login__column_small">
    <div class="logo-center">
      <img src="assets/img/logo.png" alt="logo" class="logo-center__logo">
      <div class="logo-center__title">MusicApp</div>
    </div>
  </div>
  <div class="login__column" style="background-color: white">
    <div class="login__form">
      <label for="uname" class="login__label">Username</label>
      <input type="text" name="uname" placeholder="Enter Username" class="login__input login__input_margin">
      <label for="email" class="login__label">Email</label>
      <input type="email" name="email" placeholder="Enter Email" class="login__input login__input_margin">
      <label for="pwd" class="login__label">Password</label>
      <input type="password" name="pwd" placeholder="Enter Password" class="login__input login__input_margin">
      <a routerLink="/home"><button type="submit" class="login__button">Sign up</button></a>
      <a class="login__text" routerLink="/login">Have an account? <span style="color: white">Login</span></a>
    </div>
  </div>
</div>
